/* tablestyle.css */

.table-container {
  width: 100%;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.no-data {
  margin-top: 20px;
  padding: 10px;
  background-color: #f2f2f2;
  text-align: center;
}

.edit-form {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.edit-form h2 {
  margin-top: 0;
}

.edit-form label {
  display: block;
  margin-bottom: 8px;
}

.edit-form input[type="text"],
.edit-form input[type="email"] {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit-form button {
  margin-right: 5px;
  padding: 8px 12px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.table-container button{
  margin:10px;
  padding: 7px 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.edit-form button:hover {
  background-color: #45a049;
}

.edit-form button[type="button"] {
  background-color: #f44336;
}

.edit-form button[type="button"]:hover {
  background-color: #da190b;
}
